[submodule "extern/flecs"]
	path = extern/flecs
	url = https://github.com/SanderMertens/flecs
[submodule "extern/log.c"]
	path = extern/log.c
	url = https://github.com/rxi/log.c
[submodule "extern/volk"]
	path = extern/volk
	url = https://github.com/zeux/volk
[submodule "extern/VulkanMemoryAllocator"]
	path = extern/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "extern/cgltf"]
	path = extern/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "extern/fast_obj"]
	path = extern/fast_obj
	url = https://github.com/thisistherk/fast_obj
[submodule "extern/meshoptimizer"]
	path = extern/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
