[submodule "extern/flecs"]
	path = subprojects/flecs
	url = https://github.com/SanderMertens/flecs
[submodule "extern/log.c"]
	path = extern/log.c
	url = https://github.com/rxi/log.c
[submodule "extern/volk"]
	path = extern/volk
	url = https://github.com/zeux/volk
[submodule "extern/VulkanMemoryAllocator"]
	path = extern/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "extern/cgltf"]
	path = extern/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "extern/fast_obj"]
	path = extern/fast_obj
	url = https://github.com/thisistherk/fast_obj
[submodule "extern/meshoptimizer"]
	path = extern/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "subprojects/glfw"]
	path = subprojects/glfw
	url = https://github.com/glfw/glfw
[submodule "extern/Vulkan-Headers"]
	path = extern/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "extern/hashmap.c"]
	path = extern/hashmap.c
	url = https://github.com/tidwall/hashmap.c
[submodule "extern/cJSON"]
	path = extern/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb
